@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
/*-----変数------*/

/*-----------*/

body {
  font-size: 16px;
  font-weight: 400;
  font-family: "Noto Sans JP", sans-serif;
}

body a {
  text-decoration: none;
  color: #333;
  line-height: 1.5;
  transition: 1s;
}

.main {
  margin: auto;
  padding: 0 5%;
  max-width: 1200px;
}

.wrap_bg {
  background-color: #F7F5ED;
  padding-bottom: 10px;
}

/*-------------共通アイテム-------------*/

h2 {
  font-size: 35px;
  font-weight: 700;
  padding: 10px 0 10px 55px;
  display: inline-block;
  background: url("img/title_icon.png") no-repeat;
  background-size: 55px;
  background-position: left 1px;
}

@media (max-width: 991px) {
  h2 {
    font-size: 20px;
    background-size: 30px;
    padding: 3px 0 0 35px;
    margin: 10px 0;
    background-position: left -1px;
  }
}

/*--詳しく見るボタン--*/

.button {
  width: 298px;
  max-width: 1400px;
  margin: 0 auto 30px;
  padding: 12px 0;
  border-radius: 28px;
  text-align: center;
  background-color: #90CB83;
  transition: 1s;
}

@media (max-width: 991px) {
  .button {
    max-width: 200px;
    height: 40px;
    padding-top: 5px;
    margin: 0 auto;
  }
}

.button a {
  background: url("img/btn_icon.png") no-repeat;
  background-size: 18px;
  background-position: 70px 25px;
  color: #FFF;
  font-weight: 500;
  font-size: 18px;
  padding: 20px 90px 20px 100px;
}

@media (max-width: 991px) {
  .button a {
    font-weight: 400;
    padding: 10px 35px 10px 65px;
    background-position: 35px 15px;
  }
}

.button:hover {
  background-color: #66a857;
}

.explanation {
  line-height: 1.4;
  margin-bottom: 30px;
}

/*-------------------------------------------------------------*/

/*----------------heder--------------*/

.header {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}

.header .header_wrap {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/*--logo--*/

.header .header_wrap .logo img {
  width: 300px;
  margin-left: 40px;
}

@media (max-width: 991px) {
  .header .header_wrap .logo img {
    width: 250px;
    height: auto;
    margin-top: 0px;
    margin-left: 10px;
  }
}

.header .header_wrap .f_item:nth-child(2) {
  /* ロゴ横左寄せ */
  margin-left: auto;
}

.header .header_wrap .tel_green {
  font-weight: 700;
  color: #90CB83;
  font-size: 30px;
  margin-right: 40px;
  margin-top: 5px;
}

@media (max-width: 991px) {
  .header .header_wrap .tel_green {
    display: none;
  }
}

.header .header_wrap .tel_green img {
  margin: 0 3px 6px 0;
  width: 25px;
  height: 25px;
}

.header .header_wrap .tel_item {
  display: inline-block;
  margin: 15px 10px 0;
}

@media (max-width: 991px) {
  .header .header_wrap .tel_item {
    display: none;
  }
}

.header .header_wrap .tel_item2 {
  position: absolute;
  margin-top: 10px;
  margin-left: 30px;
}

@media (max-width: 991px) {
  .header .header_wrap .tel_item2 {
    display: none;
  }
}

/*--nav--*/

.c-global-nav .menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
  position: relative;
}

@media (max-width: 991px) {
  .c-global-nav .menu {
    display: none;
  }
}

.c-global-nav .menu a {
  transition: 1s;
}

.c-global-nav .menu a:hover {
  color: #90CB83;
}

.c-global-nav .menu ul li a {
  display: block;
  outline-offset: -1px;
  height: auto;
  margin-bottom: 5px;
}

.c-global-nav .menu li a {
  position: relative;
}

.c-global-nav .menu li {
  flex-grow: 1;
}

.c-global-nav .menu li+li {
  border-left: 1px solid #e0e0e0;
}

.c-global-nav .menu .sub-menu li {
  border: none;
}

/*ナビゲーションアイコン*/

.c-global-nav .nav_icon a {
  width: auto;
  height: 0px;
  background: url("img/nav_off.png") no-repeat;
  background-size: 16px;
  background-position: right 5px;
  padding-right: 20px;
}

.c-global-nav .sub-menu a {
  background: none;
}

/*ドロップダウンメニュー*/

.c-global-nav .sub-menu {
  display: none;
  width: 215px;
  margin: 0 2%;
  border: 2px solid #90CB83;
  position: absolute;
  top: 35px;
  padding: 20px;
  text-align: left;
  background: rgba(255, 255, 255, 0.96);
  z-index: 10;
}

/*-----サブメニューアイコン-------*/

.c-global-nav .sub-menu .menu-item {
  width: auto;
  background: url("img/sub_menu_icon.png") no-repeat;
  background-size: 14px;
  background-position: left 6px;
  padding-left: 0 20px;
}

.c-global-nav .menu-item li a {
  background-image: none;
  padding: 0px 20px;
}

/*-------------ham-----------------------------*/

.header .mobile-menu {
  display: none;
}

@media (max-width: 991px) {
  .header .mobile-menu {
    z-index: 1000;
    display: block;
    text-align: left;
    padding-bottom: 10px;
    font-size: 15px;
    color: #333;
    width: auto;
  }
  .header .mobile-menu .menu-item {
    text-indent: 10;
    display: block;
    position: relative;
    border-bottom-width: 1px;
    border-bottom-style: dashed;
    border-bottom-color: #CCC;
    width: 100%;
    margin: 0;
  }
  .header .mobile-menu .menu-item:last-child {
    padding-bottom: 0;
    border-bottom-style: none;
  }
  .header .mobile-menu .sub-menu {
    display: block;
    width: 100%;
    position: relative;
  }
  .header .mobile-menu .sub-menu li {
    display: block;
    width: 100%;
    position: relative;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #eeeeee;
  }
  .header .mobile-menu .menu-item-has-children:before {
    content: "";
    width: 8px;
    height: 8px;
    border: 0px;
    border-top: solid 2px #90CB83;
    border-right: solid 2px #90CB83;
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    position: absolute;
    top: 30px;
    right: 30px;
    margin-top: -15px;
  }
  .header .mobile-menu .menu-item-has-children.open::before {
    -ms-transform: rotate(315deg);
    -webkit-transform: rotate(315deg);
    transform: rotate(315deg);
    margin-top: -10px;
  }
  .header .mobile-menu .sub-menu li a::before {
    content: "";
    width: 0;
    height: 0;
    border: solid 4px transparent;
    border-left: solid 6px #739100;
    position: absolute;
    top: 22px;
    left: 0;
    margin-top: -4px;
    margin-left: 20px;
  }
}

.header .ham_span {
  /*３本線の位置*/
  background-color: #90CB83;
  padding: 0 5px 5px 5px;
  position: fixed;
  top: 25px;
  right: 20px;
  opacity: 0.8;
  display: none;
  z-index: 5;
}

@media (max-width: 991px) {
  .header .ham_span {
    display: block;
  }
}

/*-----ham--------------------------------------------------------------------

/*ハンバーガーメニュー下層中身*/

.mobile-menu .ham_under {
  max-width: 70%;
  margin: 0 auto;
  line-height: 1.4;
  padding-bottom: 20px;
}

.mobile-menu .ham_logo img {
  max-width: 75%;
  margin: 0 auto;
  height: auto;
  display: block;
}

.mobile-menu .ham_content .ham_time {
  line-height: 1.5;
  font-size: clamp(15px, 1vw, 20px);
  margin-left: -10px;
  margin-bottom: 10px;
}

.mobile-menu .ham_content {
  margin: 0 auto;
  max-width: 80%;
  display: block;
}

.mobile-menu .ham_content p {
  font-size: clamp(15px, 1vw, 20px);
}

.mobile-menu .ham_content a {
  font-weight: 500;
}

.mobile-menu .ham_content .ham_tel {
  color: #90CB83;
  font-size: clamp(20px, 7vw, 23px);
  font-weight: 700;
  width: auto;
  height: 30px;
  background: url(img/header/tel_icon.png) no-repeat;
  background-size: 20px;
  background-position: left center;
  padding-left: 23px;
  padding-bottom: 20px;
  line-height: 1.3;
}

.mobile-menu .ham_under .ham_btn {
  text-align: center;
  font-size: clamp(14px, 1vw, 20px);
  font-weight: 600;
  background-color: #90CB83;
  border-radius: 28px;
  max-width: 100%;
  margin: 0 20px;
  padding: 5px;
  display: block;
  color: white;
}

.mobile-menu .mobile-menu .menu-item a {
  display: block;
  padding: 10px 20px;
}

.mobile-menu .mobile-menu .menu-item .sub-menu a {
  display: block;
  padding: 10px 10px 10px 35px;
}

.mobile-menu #text {
  color: #66a857;
}

/*-----メイン画像------------------------------------------------*/

.key_visual .mainimg {
  position: relative;
  height: clamp(300px, 40vw, 600px);
  background: url("img/main/main.png") no-repeat;
  background-size: cover;
  background-position: center top;
}

.key_visual .webp .mainimg {
  /*webpが読み込める時はこっちを表示*/
  position: relative;
  width: 100%;
  height: 370px;
  height: clamp(370px, 30vw, 800px);
  background: url(img/main/main_img.webp) no-repeat;
  background-size: cover;
}

@media (max-width: 991px) {
  .webp .mainimg {
    width: 100%;
    height: clamp(200px, 30vw, 1000px);
  }
}

.key_visual .main_font {
  position: absolute;
  width: 300px;
  height: auto;
  top: 300px;
  right: 120px;
}

@media (max-width: 991px) {
  .key_visual .main_font {
    position: absolute;
    width: 200px;
    height: auto;
    top: 120px;
    right: 20px;
  }
}

/*-----私たちについて---------------------------------------------------------------------------------*/

.main .about {
  padding-top: 50px;
}

@media (max-width: 991px) {
  .main .about {
    padding-top: 20px;
  }
}

.main .about p {
  margin-bottom: 37px;
  font-size: 20px;
  line-height: 30px;
  width: auto;
  font-weight: 400;
}

@media (max-width: 991px) {
  .main .about p {
    font-size: 16px;
    width: 95%;
    line-height: 30px;
    margin: 10px;
  }
}

.main .about .about_img {
  display: block;
  width: 100%;
  margin: 0 auto;
  height: auto;
}

/*------------お知らせ--------------*/

.main .news {
  margin-bottom: 100px;
}

@media (max-width: 991px) {
  .main .news {
    margin-bottom: 40px;
  }
}

.main .news .news_content_box2 {
  margin-top: 20px;
}

@media (max-width: 991px) {
  .main .news .news_content_box2 {
    margin: 0 10px;
    padding-bottom: 10px;
  }
}

.main .news .wrap {
  margin: 0 auto;
  display: flex;
  position: relative;
  background-color: #FFF;
  margin-top: 100px;
  margin-bottom: 10px;
  justify-content: center;
}

@media (max-width: 991px) {
  .main .news .wrap {
    display: block;
    margin-top: 50px;
  }
}

.main .news .news_content_box {
  flex-grow: 2;
}

@media (max-width: 991px) {
  .main .news .news_content_box {
    margin: 30px 30px 10px;
  }
}

.main .news .contents:last-child {
  border-bottom: none;
}

@media (max-width: 991px) {
  .main .news .contents {
    padding: 0;
    margin: 0;
    flex-direction: column;
  }
}

.main .news .date {
  margin: 5px 0 10px;
}

.main .news .wrap .title {
  margin-left: 30px;
  white-space: pre-wrap;
}

@media (max-width: 991px) {
  .main .news .wrap .title {
    display: block;
    margin: 10px 0 0;
    padding: 0;
  }
}

.main .news a:hover {
  color: #66a857;
}

.main .news .news_more_wrap {
  text-align: right;
}

.main .news .news_more {
  font-size: 20px;
  background: url("img/more_icon.png") no-repeat;
  background-size: 19px;
  background-position: left 7px;
  padding-left: 23px;
}

.main .news .news_more a {
  transition: 1s;
}

@media (max-width: 991px) {
  .main .news .news_more {
    font-size: 16px;
    top: 550px;
    background-position: left 3px;
  }
}

.main .news .news_title {
  padding: 10px 0;
  border-bottom: dashed 2.5px #90CB83;
  width: auto;
  background-image: none;
}

.main .news .news_title_box img {
  display: block;
  margin-right: 100px;
  margin-top: 20px;
  width: 126px;
  height: auto;
}

.main .news .news_title_box {
  display: block;
  padding-top: 90px;
  padding-left: 80px;
  background: #FFF;
  margin-bottom: 80px;
}

@media (max-width: 991px) {
  .main .news .news_title_box {
    margin-bottom: 0px;
    padding-top: 10px;
    padding-left: 0;
    text-align: center;
  }
  .main .news .news_title_box img {
    margin: 0 auto;
    width: 100px;
  }
}

.main .news .news_img {
  text-align: center;
}

.main .news .contents_wrap a {
  display: flex;
  border-bottom: dashed 1px #D2D2D2;
  padding: 30px 0;
  margin-right: 30px;
  transition: 1s;
}

@media (max-width: 991px) {
  .main .news .contents_wrap a {
    flex-direction: column;
    padding: 10px;
    margin: 0;
  }
}

/*-----------サービス内容------------------*/

.main .service .service1 {
  background-image: url(img/main/service_img1.jpg);
  background-repeat: no-repeat;
  background-size: 80%;
  height: clamp(500px, 1vw, 800px);
  background-position: right 0;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  position: relative;
  flex-direction: column;
}

@media (max-width: 991px) {
  .main .service .service1 {
    height: auto;
    padding-top: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    background-image: none;
    margin-bottom: 5%;
  }
}

.main .service .service1 h3 {
  font-size: 30px;
  font-weight: 500;
  margin: 60px 0 40px;
  letter-spacing: 3px;
  padding-bottom: 10px;
  position: relative;
}

@media (max-width: 991px) {
  .main .service .service1 h3 {
    margin: 0 0 10px 10px;
    font-size: 20px;
  }
}

.main .service .service1 h3::before {
  /*--線--*/
  position: absolute;
  content: "";
  height: 3px;
  background-color: #90CB83;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.main .service .service1 p {
  margin: 0 55px 60px 40px;
  line-height: 2;
}

@media (max-width: 991px) {
  .main .service .service1 p {
    line-height: 2;
    margin: 0 auto;
    width: 90%;
  }
}

.main .service .service1 .box_1 {
  width: 570px;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 991px) {
  .main .service .service1 .box_1 {
    width: 100%;
    background: none;
    justify-content: flex-end;
  }
}

.main .service .service1 .box_1 .button {
  margin: 0 auto 60px;
}

@media (max-width: 991px) {
  .main .service .service1 .box_1 .button {
    padding: 5px;
    max-width: 200px;
    position: absolute;
    top: 450px;
    right: 0;
    left: 0;
    display: none;
  }
  .main .service .service1 .box_1 .button a {
    font-size: 16px;
  }
}

.main .service .service1 .box_2 {
  width: 100%;
  max-width: 640px;
  position: relative;
  top: -410px;
  left: 410px;
  z-index: 1;
}

@media (max-width: 991px) {
  .main .service .service1 .box_2 {
    width: 75%;
    position: relative;
    left: 70px;
    top: -90px;
  }
}

.main .service .service1 .box_2 {
  background-image: url(img/main/service_img1.jpg);
  background-repeat: no-repeat;
  background-size: 60%;
  height: 700px;
  background-position: 0 170px;
}

.main .service .service1 .triangle-left {
  z-index: 2;
  position: absolute;
  left: 570px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 35px 0 35px 40px;
  border-color: transparent transparent transparent rgba(255, 255, 255, 0.7);
}

@media (max-width: 991px) {
  .main .service .service1 .triangle-left {
    display: none;
    top: 307px;
    left: 120px;
    transform: rotate(90deg);
  }
}

.service_sm_img {
  display: none;
}

.service_sm_button {
  display: none;
}

@media (max-width: 991px) {
  .service_sm_img {
    margin: 0 auto;
    width: 90%;
    display: block;
  }
  .service_sm_img img {
    width: 100%;
    height: auto;
  }
  .service_sm_button {
    display: block;
    margin: 20px 0 30px;
    font-size: 16px;
    font-weight: 400;
    max-width: 200px;
    height: 40px;
    padding-top: 5px;
    padding: 8px 45px;
    border-radius: 28px;
    text-align: center;
    background-color: #90CB83;
    transition: 1s;
  }
  .service_sm_button a {
    background: url(img/btn_icon.png) no-repeat;
    background-size: 18px;
    background-position: 0px;
    vertical-align: center;
    color: #FFF;
    text-align: center;
    padding-left: 30px;
  }
}

/*--------生活援助-------------*/

.main .service .service2 {
  background-image: url(img/main/service_img2.jpg);
  background-repeat: no-repeat;
  background-size: 80%;
  height: clamp(500px, 1vw, 800px);
  background-position: left 0px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  margin-top: 50px;
}

@media (max-width: 991px) {
  .main .service .service2 {
    background: none;
    background-position: center 420px;
    background-size: 90%;
    height: auto;
    margin: 0px 0 50px;
  }
}

@media (max-width: 991px) {
  .main.service .service2 .box_3 {
    width: 100%;
    top: -70px;
    left: 0;
  }
  .main.service .service2 .box_3 img {
    width: 100%;
    top: 530px;
    left: -68px;
  }
}

.main .service .service2 .box_4 {
  position: relative;
  width: 570px;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 3;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 991px) {
  .main .service .service2 .box_4 {
    width: 100%;
    top: 0px;
  }
}

.main .service .service2 .box_4 .button {
  margin: 0 auto 60px;
}

@media (max-width: 991px) {
  .main .service .service2 .box_4 .button {
    padding: 5px;
    max-width: 200px;
    margin: 20px auto 30px;
    display: none;
  }
  .main .service .service2 .box_4 .button a {
    font-size: 16px;
  }
}

.main .service .service2 .box_4 h3 {
  font-size: 30px;
  font-weight: 500;
  margin: 60px 0 40px;
  letter-spacing: 3px;
  padding-bottom: 10px;
  position: relative;
}

.main .service .service2 .box_4 h3::before {
  /*--線--*/
  position: absolute;
  content: "";
  height: 3px;
  background-color: #90CB83;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

@media (max-width: 991px) {
  .main .service .service2 .box_4 h3 {
    margin: 0px 0 10px 10px;
    font-size: 20px;
    padding-top: 30px;
  }
}

.main .service .service2 .box_4 p {
  margin: 0 55px 40px;
  line-height: 2;
}

@media (max-width: 991px) {
  .main .service .service2 .box_4 p {
    line-height: 2;
    margin: 0 auto;
    width: 90%;
  }
}

.main .service .service2 .triangle-right {
  z-index: 2;
  position: absolute;
  right: 570px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 35px 40px 35px 0;
  border-color: transparent rgba(255, 255, 255, 0.7) transparent transparent;
}

@media (max-width: 991px) {
  .main .service .service2 .triangle-right {
    display: none;
    top: 348px;
    left: 45%;
    transform: rotate(270deg);
  }
}

/*-----お申し込みの流れ-------------------------------------------------------------------------------------*/

.main .application {
  margin-bottom: 100px;
}

@media (max-width: 991px) {
  .main .application {
    margin-top: 0px;
    margin-bottom: 50px;
  }
}

@media (max-width: 991px) {
  .main .application .button {
    margin-top: 0px;
  }
}

.main .application .application-box {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 991px) {
  .main .application .application-box {
    width: 100%;
    display: block;
    margin: 0 auto;
  }
}

.main .application .ap_item {
  text-align: center;
  width: 311px;
  height: 366px;
  background-color: #FFF;
  margin-top: 10px;
  margin-bottom: 30px;
  border-radius: 20px;
  border: 2px solid #D2D2D2;
}

@media (max-width: 991px) {
  .main .application .ap_item {
    width: 100%;
    height: 370px;
    margin-bottom: 0;
  }
}

.main .application .ap_item .step {
  width: 100px;
  color: #90CB83;
  margin: 30px auto;
  font-weight: 500;
  font-size: 30px;
  text-align: center;
}

.main .application .ap_item .step span {
  font-size: 40px;
}

@media (max-width: 991px) {
  .main .application .ap_item .step {
    margin: 20px auto;
  }
}

.main .application .ap_item p {
  width: 200px;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  margin: 10px auto;
}

@media (max-width: 991px) {
  .main .application .ap_item p {
    font-size: 16px;
  }
}

.main .application .ap_item img {
  width: 175px;
  height: 175px;
}

.main .application .ap_triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 40px 0 40px 40px;
  border-color: transparent transparent transparent #90CB83;
  position: relative;
  top: 150px;
  left: 0px;
}

@media (max-width: 991px) {
  .main .application .ap_triangle {
    top: 0px;
    left: 45%;
    transform: rotate(90deg);
  }
}

@media (max-width: 991px) {
  .main .application .button {
    margin-top: 20px;
  }
}

/*-----よくある質問-------------------------------------------------------------------------------------*/

.main.question {
  margin-top: 100px;
  line-height: 1.4;
}

@media (max-width: 991px) {
  .main .question {
    margin-top: 50px;
  }
}

.main .question .qa-list dl {
  border: 2px solid #DCDCDC;
  position: relative;
  margin: 30px 0 0;
  cursor: pointer;
}

.main .question .qa-list dl:first-child {
  margin-top: 10px;
}

.main .question .qa-list dl::after {
  position: absolute;
  top: 21px;
  right: 26px;
  display: block;
  width: 15px;
  height: 15px;
  margin: auto;
  content: "";
  transform: rotate(135deg);
  border-top: 4px solid #707070;
  border-right: 4px solid #707070;
}

.main .question .qa-list .open::after {
  transform: rotate(-45deg);
  top: 25px
}

.main .question .qa-list dl {
  line-height: 1;
}

.main .question .qa-list dl dt {
  position: relative;
  margin: 0;
  padding: 20px 60px 20px 60px;
  font-weight: bold;
  background: #EEE;
  line-height: 1.4;
}

.main .question .qa-list dl dt::before {
  font-size: 22px;
  line-height: 1;
  position: absolute;
  top: 16px;
  left: 20px;
  display: block;
  content: "Q.";
  color: #90CB83;
}

@media (max-width: 991px) {
  .main .question .qa-list dl dt::before {
    top: 20px;
  }
}

.main .question .qa-list dl dd {
  background-color: #FFF;
  position: relative;
  margin: 0;
  padding: 20px 20px 20px 60px;
  line-height: 1.4;
}

.main .question .qa-list dl dd::before {
  font-size: 22px;
  position: absolute;
  left: 20px;
  top: 18px;
  display: block;
  content: "A.";
  font-weight: bold;
  color: #90CB83;
}

.main .question .qa_more {
  font-size: 20px;
  text-align: right;
  margin: 30px 0 100px;
}

@media (max-width: 991px) {
  .main .question .qa_more {
    margin: 10px;
    font-size: 16px;
    margin-bottom: 50px;
  }
}

.main .question .qa_more a:hover {
  color: #90CB83;
}

.main .question .qa_more .qa_more_icon {
  text-align: right;
  width: 100%;
  height: 5px;
  background: url(img/more_icon.png) no-repeat;
  background-size: 20px;
  background-position: left 7px;
  padding-left: 23px;
  margin-top: 20px;
}

@media (max-width: 991px) {
  .main .question .qa_more .qa_more_icon {
    margin-top: 50px;
    background-position: left 5px;
    background-size: 17px;
    padding-left: 20px;
  }
}

/*-----お問い合わせ-------------------------------------------------------------------------------------*/

@media (max-width: 991px) {
  .main .contact {
    width: 100%;
    margin: 0;
  }
}

.main .contact img {
  width: 84px;
  height: 84px;
  margin: 30px 0 20px 0px;
}

@media (max-width: 991px) {
  .main .contact img {
    margin: 10px 0;
  }
}

.main .contact .con_icon {
  text-align: center;
}

.main .contact .contact_item {
  margin: 5% 0;
}

@media (max-width: 991px) {
  .main .contact .contact_item {
    margin: 0;
    height: 0px;
    width: 100%;
  }
}

.main .contact .contact_bgcolor {
  display: flex;
  justify-content: space-evenly;
  background-color: #fff;
  width: 100%;
  margin-top: 10px;
}

@media (max-width: 991px) {
  .main .contact .contact_bgcolor {
    display: block;
    width: 100%;
    max-width: 991px;
    height: 590px;
    padding: 10px;
  }
}

.main .contact .tel_balloon {
  position: relative;
  display: inline-block;
  padding: 23px;
  width: 100%;
  height: 80px;
  color: #FFF;
  font-size: 16px;
  background: #90CB83;
  border-radius: 10px;
}

.main .contact .tel_balloon p {
  text-align: center;
  margin-top: 5px;
  font-weight: 500;
  font-size: 20px;
}

@media (max-width: 991px) {
  .main .contact .tel_balloon p {
    font-size: 16px;
  }
}

@media (max-width: 991px) {
  .main .contact .tel_balloon {
    width: 100%;
    height: 50px;
    margin: 20px 0;
    padding: 8px 0 10px 0;
  }
}

.main .contact .tel_balloon::before {
  content: "";
  position: absolute;
  top: 99%;
  left: 50%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-top: 15px solid #90CB83;
}

@media (max-width: 991px) {
  .main .contact .tel_balloon::before {
    top: 50px;
  }
}

.main .contact .number {
  width: 88%;
  margin: 0 25px;
  display: block;
  color: #90CB83;
  font-size: 51px;
  font-weight: 700;
  background: rgba(0, 0, 0, 0) linear-gradient(transparent 60%, #fdfdb1 60%) repeat scroll 0 0;
}

@media (max-width: 991px) {
  .main .contact .number {
    text-align: center;
    display: inline-block;
    font-weight: 600;
    font-size: 35px;
    width: 100%;
    margin: 0;
  }
}

.main .contact .tel_time {
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
  font-size: 17px;
}

@media (max-width: 991px) {
  .main .contact .tel_time {
    font-size: 13px;
    width: 100%;
    margin-top: 5px;
  }
}

.main .contact .btn_mail {
  text-align: center;
  margin-top: 20px;
  margin-right: 0;
  padding: 20px 0;
  border-radius: 5px;
  box-shadow: 11px 10px 11px -6px rgba(135, 135, 135, 0.6);
  background-color: #90CB83;
  transition: 1s;
}

@media (max-width: 991px) {
  .main .contact .btn_mail {
    width: 100%;
    height: 50px;
    margin-top: 10px;
    padding: 7px 0;
  }
}

.main .contact .btn_mail a {
  background: url("img/btn_icon.png") no-repeat;
  background-size: 25px;
  background-position: 330px;
  color: #FFF;
  font-weight: 600;
  font-size: 25px;
  padding: 20px 65px 20px 50px;
}

@media (max-width: 991px) {
  .main .contact .btn_mail a {
    padding: 20px 30px 20px 30px;
    background-position: 230px 24px;
    font-size: 18px;
    background-size: 20px;
    margin-top: 10px;
  }
}

.main .contact .btn_mail:hover {
  background-color: #66a857;
}

.main .contact .line {
  border-left: 2px dashed #BEBCBC;
  height: 400px;
  margin-top: 30px;
}

@media (max-width: 991px) {
  .main .contact .line {
    border-left: none;
    border-bottom: 2px dashed #BEBCBC;
    height: 260px;
  }
}

/*-----リクルートバナー-------------------------------------------------------------------------------------*/

.recruit {
  width: 100%;
  margin-top: 50px;
  padding-bottom: 50px;
  transition: 0.5s;
}

.recruit:hover {
  opacity: 0.7;
}

@media (max-width: 991px) {
  .recruit {
    width: 100%;
    margin: 30px 0;
  }
  .recruit .recruit_sm {
    display: block;
  }
}

.recruit_sm {
  display: none;
}

@media (max-width: 991px) {
  .recruit_sm {
    display: block;
    width: 100%;
    max-width: 991px;
    padding-bottom: 30px;
    margin-top: 30px;
  }
}

.recruit {
  display: block;
}

@media (max-width: 991px) {
  .recruit {
    display: none;
  }
}

/*-----フッター-------------------------------------------------------------------------------------*/

@media (max-width: 991px) {
  .footer {
    display: none;
  }
}

.footer .flex {
  display: flex;
  justify-content: space-evenly;
}

.footer .footer_box {
  margin: 60px 30px;
}

.footer .footer_box img {
  width: auto;
  height: 80px;
}

.footer .footer_box .f_tel {
  margin-top: 30px;
  font-size: 14px;
}

.footer .footer_box .f_tel p:first-child {
  font-size: 20px;
  font-weight: 500;
}

.footer .footer_box .f_tel .f_tel_icon {
  font-weight: 700;
  color: #90CB83;
  font-size: 30px;
  margin: 5px 0;
  background: url("img/header/tel_icon.png") no-repeat;
  background-size: 25px;
  background-position: left 10px;
  padding-left: 30px;
}

.footer .footer_box .f_mail {
  border: 1px solid #90CB83;
  width: 330px;
  padding: 5px 0px 5px 50px;
  border-radius: 20px;
  background: url("img/mail.png") no-repeat;
  background-size: 16px;
  background-position: 30px 8px;
  font-weight: 600;
  margin-top: 10px;
  transition: 1s;
}

.footer .footer_box .f_mail a {
  color: #333;
}

.footer .footer_box .f_mail:hover {
  background-color: #90CB83;
  color: #333;
}

.footer a:hover {
  transition: 0.3s;
  color: #90CB83;
}

.footer .footer_box .footer_menu {
  display: flex;
}

.footer #footer-menu .sub-menu {
  padding: 20px 0;
  display: block;
  position: static;
  border: 0;
}

.footer #footer-menu .sub-menu .menu-item {
  width: auto;
  background: url("img/sub_menu_icon.png") no-repeat;
  background-size: 16px;
  background-position: left 7px;
  padding-left: 20px;
}

.footer #footer-menu .menu {
  display: flex;
  text-align: left;
  margin-top: 70px;
  align-items: flex-start;
  background-color: #FFF;
  line-height: 2;
}

.footer #footer-menu .menu-item-has-children {
  margin-right: 50px;
}

/*-----モバイルフッター------------*/

.m-footer {
  margin: 10px auto;
  width: 200px;
  line-height: 1.4;
  font-size: 16px;
}

@media (min-width: 991px) {
  .m-footer {
    display: none;
  }
}

.m-footer img {
  width: clamp(200px, 1vw, 300px);
}

.m-footer .m_f_address {
  font-size: 16px;
  margin: 10px 0px;
}

.m-footer .f_tel_icon {
  font-weight: 700;
  color: #90CB83;
  font-size: 25px;
  background: url(img/header/tel_icon.png) no-repeat;
  background-size: 22px;
  background-position: left 15px;
  padding-left: 25px;
  margin-bottom: 10px;
}

@media (max-width: 991px) {
  .m-footer .f_tel_icon {
    background-position: left 8px;
  }
}

.m-footer .m_f_contact {
  font-size: 16px;
  width: 220px;
}

.m-footer .f_tel_time {
  background-color: #e0e0e0;
  padding: 2px 5px;
  margin-right: 10px;
}

.m-footer .m_f_time {
  line-height: 2.3;
}

/*----コピーライト------------------------------------------------------------------------------------*/

.copyright {
  color: white;
  text-align: center;
  font-size: 12px;
  background-color: #90CB83;
  padding: 10px;
}

@media (max-width: 991px) {
  .copyright {
    font-size: 10px;
    padding: 5px;
  }
}

.copyright p {
  margin: 0;
}

/*# sourceMappingURL=style.css.map */

/*----ーーーーーーーーー以下ワードプレスーーーーーーーーーーーーーーーーー-----*/

.smb-panels__item__figure:hover {
  opacity: 0.6;
  transition-duration: 0.3s;
}

.smb-panels__item:hover {
  background-color: #ccedbb;
  transition: 1s;
}

.smb-panels__item__figure>img {
  width: 100%;
  height: auto;
}

.wp-block-image:not(.is-style-rounded) img {
  border-radius: inherit;
  height: auto;
  width: 100%;
}

.wp-block-image:not(.is-style-rounded) img {
  border-radius: inherit;
  height: auto;
  width: 100%;
}

/*-----記事の中身------*/

.main .single .common-lower {
  margin: 10px;
}

@media (max-width: 991px) {
  .wysiwyg-editor {
    padding: 10px 0;
  }
}

.main.single .cat {
  margin: 0;
}

p, table, blockquote, address, pre, iframe, form, figure, dl {
  line-height: 1.4;
}

.main.single pre {
  font-weight: 400;
  line-height: 2;
  font-size: 16px;
}

.main.common-lower p {
  line-height: 1.7;
  margin: 10px 0;
}

@media (max-width: 991px) {
  .main.common-lower p {
    padding: 0 5px;
  }
}

.wysiwyg-editor h1 {
  font-weight: bold;
  font-size: 32px;
  margin: 0 0 0;
  padding: 20px 0;
  color: #333;
}

.wysiwyg-editor h2 {
  font-weight: bold;
  font-size: 25px;
  margin: 25px 0;
  padding: 10px;
  background: #90CB83;
  color: white;
  display: block;
}

@media (max-width: 991px) {
  .wysiwyg-editor h2 {
    font-size: 18px;
  }
}

.wysiwyg-editor h3 {
  font-size: 23px;
  font-weight: 600;
  margin: 20px 0;
  padding: 0 0 10px 0;
  border-bottom: 2px solid #90CB83;
}

.wysiwyg-editor h4 {
  font-size: 18px;
  margin: 40px 0;
}

.wysiwyg-editor h4:before {
  content: "★";
  color: #90CB83;
  margin-right: 5px;
}

.wysiwyg-editor h5 {
  color: #333;
  padding: 0.5em 0;
  border-top: solid 2px #90CB83;
  border-bottom: solid 2px #90CB83;
  margin: 20px 0;
  font-weight: bold;
}

.wysiwyg-editor h6 {
  padding: 0.25em 0.5em;
  color: #333;
  background: transparent;
  border-left: solid 5px #90CB83;
  font-weight: 500;
  margin: 10px 0;
}

.main.common-lower h2:first-child, .main .common-lower h2+h3, .main .common-lower h3+h4 {
  margin-top: 10px;
}

.wysiwyg-editor ul, .wysiwyg-editor ol, .wysiwyg-editor table {
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.7;
}

.wysiwyg-editor ol, .wysiwyg-editor ul, .wysiwyg-editor ol {
  margin-left: 20px;
}

.wysiwyg-editor ul {
  list-style-type: square;
}

.main.common-lower ol {
  list-style-type: decimal;
}

.main.common-lower table {
  border-collapse: collapse;
}

.wysiwyg-editor table th, .wysiwyg-editor table td {
  border: 2px solid #BEBCBC;
  padding: 20px;
}

.wysiwyg-editor .wp-block-table figcaption {
  font-size: 14px;
  line-height: 1.6;
  color: #666;
  margin: 10px 0 0 0;
  text-align: center;
}

.main.single.common-lower .image {
  margin: 0 auto;
  max-width: 100%;
  display: block;
}

.main.single.common-lower .single_cat {
  margin: 0 auto;
  width: 100%;
}

@media (max-width: 991px) {
  .main.single.common-lower .single_cat {
    width: 100%;
  }
}

.smb-section-break-the-grid__figure>img {
  /*スノーモンキーの画像の調整*/
  height: auto;
}

@media (max-width: 991px) {
  /*スノーモンキーのpaddingの調整*/
  .wp-block-media-text .wp-block-media-text__content {
    padding: 15px;
  }
  .wp-block-columns.has-background {
    padding: 10px;
  }
}

/*-----アイキャッチの位置------*/

.wp-post-image {
  width: 100%;
  height: auto;
}

/*-----youtubeレスポンシブ化------*/

.youtube {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}

.youtube iframe {
  position: absolute;
  top: 0;
  right: 0;
  width: 100% !important;
  height: 100% !important;
}

/*-----パンくずリスト------*/

.breadcrumb {
  display: flex;
  padding: 5px 0px;
  margin: 0 auto;
  flex-wrap: wrap;
  max-width: 1200px;
}

@media (max-width: 991px) {
  .breadcrumb {
    font-size: 12px;
  }
}

.breadcrumb a {
  transition: 1s;
}

.breadcrumb a:hover {
  color: #66a857;
}

.breadcrumb li::after {
  content: '>';
  color: #66a857;
  margin: 5px;
}

.breadcrumb li:last-child::after {
  content: none;
}

/*-----固定ページ------*/

.main.page h1 {
  font-size: 40px;
  font-weight: 500;
  padding: 10px 0;
}

@media (max-width: 991px) {
  .smb-section-break-the-grid__figure img {
    width: 100%;
    height: auto;
  }
}

.wp-block-table {
  padding: 0 20px;
}

/*-見出し上の余白削除-*/

.smb-panels__item__body *:first-child {
  margin-top: 0;
}

/*--モバイル画像の調整--*/

.wp-block-media-text__media img, .wp-block-media-text__media video {
  height: auto;
  padding: 10px;
}

/*-----記事一覧------*/

.main.single.common-lower h1 {
  margin-bottom: 30px;
  padding-top: 30px;
  font-size: 30px;
  font-weight: 500;
}

@media (max-width: 991px) {
  .main.single.common-lower h1 {
    margin-bottom: 0;
    padding: 10px 0;
  }
}

.wysiwyg-editor {
  margin: 0 auto;
  padding: 50px 0;
  max-width: 1200px;
}

@media (max-width: 991px) {
  .wysiwyg-editor {
    max-width: 991px;
    padding: 20px 10px;
  }
}

.lower-title {
  font-size: 30px;
}

@media (max-width: 991px) {
  .single_cat {
    font-size: 12px;
  }
}

.editor_bg {
  background-color: #F7F5ED;
}

.article-lists {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.article-lists .box .title a {
  color: #333;
  font-size: 20px;
  font-weight: 700;
  transition: 1s;
}

.article-lists .box .title {
  margin: 20px 0 5px;
  font-weight: 600;
  font-size: 20px;
}

.article-lists .box {
  background-color: #fff;
  width: 100%;
  margin: 0 auto;
  padding: 5%;
  line-height: 1.4;
}

@media (max-width: 991px) {
  .article-lists .box {
    padding: 30px;
  }
}

.article-lists .box:nth-child(even) {
  background-color: #e6f0e4;
}

/*カテゴリー名の色*/

.entry-label {
  background-color: #78b36b;
  color: white;
  padding: 0 5px;
  margin-left: 1%;
}

.article-lists .box:hover {
  background-color: #bbd6b4;
  transition: 1s;
}

.wp-block-image img {
  /*記事の画像サイズ調整*/
  max-width: 100%;
  height: auto;
  padding: 10px;
}

/*--タイトルとカテゴリー横並び-*/

.post-date {
  display: inline-block;
}

@media (max-width: 991px) {
  .main.single {
    margin: 0;
  }
}

/*--記事一覧へ戻る-*/

.return_wrap {
  margin: 0 auto;
  text-align: center;
}

.return_wrap .return {
  background-image: url(img/return.png);
  background-repeat: no-repeat;
  background-size: 14px;
  background-position: left 5px;
  height: 20px;
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 30px;
}

@media (max-width: 991px) {
  .main.single.common-lower .return_wrap .return {
    padding: 0 20px;
    margin-bottom: 30px;
    background-position: left 6px;
  }
}

.return_wrap .return a {
  transition: 1s;
}

.return_wrap .return a:hover {
  color: #66a857;
}

/*-----カテゴリー一覧------*/

.main.category {
  max-width: 1200px;
  width: 100%;
  padding: 0;
}

.main.category p {
  line-height: 1.7;
  margin: 5px 0;
}

.category_page .breadcrumb {
  max-width: 1200px;
}

.category_page .cat_name_wrap {
  color: #333;
  font-size: clamp(20px, 4vw, 40px);
  font-weight: 600;
  background-color: #78b36b;
  height: clamp(180px, 25vw, 280px);
  margin: 0 auto;
  background: url(img/main/news_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center -100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.category_page.cat_name {
  vertical-align: middle;
}

@media (max-width: 991px) {
  .category_page .cat_name_wrap {
    background-position: center;
    height: clamp(120px, 25vw, 280px);
  }
}

.category_page .cat_time_catname {
  margin: 10px 0;
}

.category_page .main.category .box:nth-child(even) {
  background-color: #e6f0e4;
}

.category_page .main.category .box {
  padding: 5%;
  width: 100%;
  margin: 0 auto;
  background-color: white;
  display: block;
}

.category_page .main.category .box:hover {
  background-color: #bbd6b4;
}

@media (max-width: 991px) {
  .category_page .main.category .box {
    padding: 20px;
  }
}

.main.category h1 {
  padding: 30px 0;
  font-size: 40px;
  font-weight: 700;
}

.category_flex {
  display: flex;
  flex-wrap: wrap;
}

.main.category .box h2 {
  margin: 20px 0 5px;
  font-weight: 600;
  font-size: 20px;
  padding: 0;
  background-image: none;
}

@media (max-width: 991px) {
  .main.category .box h2 {
    font-size: 18px;
  }
}

.main.single .next {
  margin-left: 20%;
}

@media (max-width: 991px) {
  .main.single .next a {
    display: inline;
    text-align: right;
  }
}

/*-----アイキャッチを背景に（固定ページ）------*/

.page.standard {
  padding: 0;
  z-index: 0;
}

.page.standard .breadcrumb {
  max-width: 1200px;
  padding: 10px;
}

#main-visual-underlayer {
  display: block;
  position: relative;
}

#main-visual-underlayer .mv-wrapper {
  width: 100%;
  height: 280px;
  height: clamp(180px, 25vw, 280px);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* アイキャッチが指定されていない時のデフォルト画像 */
  background-image: url(http://donkey.localhost:8888/wp-content/uploads/2021/07/5006235_m.jpg);
}

#main-visual-underlayer .mv-wrapper .mv-img-wrapper {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

#main-visual-underlayer .mv-wrapper .title {
  color: #fff;
  padding: 0 15px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  border: none;
  width: 100%;
  font-size: 25px;
  font-size: clamp(25px, 4vw, 40px);
}

/*-------お問い合わせ--------- */

/*Contact Form 7カスタマイズ*/

.contact_wrap {
  background-color: #FFF;
}

.contact_form {
  padding: 30px 0 0;
  max-width: 1200px;
}

@media (max-width: 991px) {
  .contact_form {
    padding: 10px 0 0;
  }
}

.contact_form .wysiwyg-editor table th, .wysiwyg-editor table td {
  padding: 20px;
}

.contact_form table th tr {
  margin: 0 auto;
  border: none;
}

.inquiry {
  margin: 0 auto;
  border: none;
}

@media(max-width:991px) {
  .contact_form table .inquiry {
    margin: 0;
    padding: 0;
    width: 300px;
  }
}

/* 説明 */

.contact_form .contact_explanation {
  text-align: center;
  line-height: 1.4;
}

@media (max-width: 991px) {
  .contact_form .contact_explanation {
    text-align: left;
    padding: 10px 20px 0;
  }
}

.contact_form .tel_green {
  color: #78b36b;
  font-weight: 600;
  font-size: 30px;
  background-image: url(img/header/tel_icon.svg);
  background-repeat: no-repeat;
  background-position: left 12px;
  background-size: 25px;
  padding-left: 30px;
}

.contact_form_tel {
  text-align: center;
  margin: 15px 0;
}

/* 送信ボタン*/

input.wpcf7-submit {
  margin: 0 auto;
  display: block;
  width: 50%;
  height: 60px;
  border-color: #EEE;
  background: #9ad979;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  border-radius: 28px;
  text-align: center;
  transition: 1s;
  margin-bottom: 50px;
  margin-top: 30px;
}

@media (max-width: 991px) {
  input.wpcf7-submit {
    width: 90%;
    margin-bottom: 10px;
  }
}

input.wpcf7-submit:hover {
  background: #66a857;
}

@media(max-width:991px) {
  .inquiry th, .inquiry td {
    margin: 0 0px;
    display: block!important;
    width: 100%!important;
    border-top: none!important;
    -webkit-box-sizing: border-box!important;
    -moz-box-sizing: border-box!important;
    box-sizing: border-box!important;
  }
  /* 必須サイズ調整 */
  .inquiry .must, .inquiry .any {
    font-size: 10px;
  }
}

/*見出し欄*/

.contact_form .inquiry th {
  text-align: left;
  font-size: 16px;
  color: #444;
  vertical-align: middle;
  width: 30%;
}

/*打ち込み欄*/

.contact_form .inquiry td {
  font-size: 16px;
}

@media(max-width:991px) {
  .contact_form .wysiwyg-editor table td {
    padding: 0px 20px 10px;
  }
}

.contact_form .inquiry th, .contact_form .inquiry td {
  border: none;
}

.contact_form .inquiry .txt_th {
  vertical-align: top;
}

.inquiry button, input, textarea {
  background: #f7f7f7;
  padding: 10px;
}

@media(max-width:991px) {
  .inquiry button, input, textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 15px;
  }
}

/*必須の調整*/

.must {
  font-size: 7px;
  padding: 5px;
  background: #ff9393;
  color: #fff;
  border-radius: 2px;
  margin-right: 5px;
  position: relative;
  bottom: 1px;
}

.privacy {
  text-align: center;
  margin: 0px auto 20px;
  padding: 10px;
}

.privacy a {
  transition: 1s;
}

.privacy a:hover {
  color: #9ad979;
}

/*モバイル項目の余白設定*/

@media(max-width:991px) {
  .contact_form .inquiry th {
    padding: 20px 10px 0;
  }
  .contact_form .inquiry td {
    padding: 10px 10px 0;
  }
}

.wpcf7 form .wpcf7-response-output {
  margin: 5px;
  padding: 10px;
  border: 2px solid #00a0d2;
  text-align: center;
}

/*-------サイドバー------------------*/

.side-bar {
  background-color: white;
  width: 30%;
  border-left: solid 2px #bbd6b4;
}

@media(max-width:991px) {
  .side-bar {
    width: 100%;
  }
}

.sidebar_wrap {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
}

@media(max-width:991px) {
  .sidebar_wrap {
    flex-direction: column;
    width: 100%;
  }
}

.sidebar_wrap .side-bar .headline {
  background-color: #bbd6b4;
  font-size: 20px;
  display: block;
  padding: 30px;
  color: white;
  font-weight: 600;
  margin: 0;
}

.side-bar .category-lists {
  line-height: 2;
}

@media(max-width:991px) {
  .side-bar .category-lists {
    padding: 0;
  }
}

.side-bar .category-lists a {
  transition: 1s;
  padding: 10px 20px;
  width: 95%;
  display: block;
  margin: 10px auto;
}

@media(max-width:991px) {
  .side-bar .category-lists a {
    padding: 10px 15px;
    width: 90%;
  }
}

.side-bar .category-lists a:hover {
  background-color: #bbd6b4;
}

.wp-block-table.company table th, .wp-block-table.company table td {
  margin: 0;
  border: none;
  border-bottom: 2px solid #90CB83;
}

.wp-block-table.company table tr {
  padding: 20px 10% 20px 10%;
}

.wp-block-table.company {
  padding: 0 15%;
}

@media(max-width:991px) {
  .wp-block-table.company {
    padding: 0;
  }
}

@media(max-width:991px) {
  .contact_form .wysiwyg-editor table th, .wysiwyg-editor table td {
    padding: 20px 0;
  }
  .wysiwyg-editor table td {
    padding-left: 20px;
  }
}
